@model IEnumerable<FurnituresServiceModels.Models.Furniture>

@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Furnitures/_Layout.cshtml";
}

<h4 class="a-text-color2 fw-bold text-start">Show Furnitures</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="align-middle">
            <td>
                <img src="@Url.Action("GetImage",new {id=item.Id})" alt="Furniture Image" width="100" class="rounded mx-auto d-block">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                <button type="button" class="btn a-text-color a-field-color"><a class="text-decoration-none a-text-color" asp-action="Update" asp-route-id="@item.Id">Edit</a></button>  
            </td> 
            <td>
                <button type="button" class="btn a-text-color a-field-color"><a class="text-decoration-none a-text-color" asp-action="Details" asp-route-id="@item.Id">Details</a></button> 
            </td>
            <td>
                <button type="button" class="btn a-text-color a-field-color"> <a class="text-decoration-none a-text-color" asp-action="Delete" asp-route-id="@item.Id" method="post">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
