@using Microsoft.AspNetCore.Identity
@model IEnumerable<FurnituresService.Models.Furniture>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var currentUser = UserManager.Users.FirstOrDefault(u => u.Email == User.Identity.Name);
}


<div class="container-fluid">
	<div class="row align-items-center">
		<img src="@Url.Content("~/images/banner.jpg")" class="rounded mx-auto d-block" />
	</div>
</div>
<br />
<div class="container">
	<div class="row p-1 text-center">
		@foreach (var item in Model)
		{
			<div class="col-sm-12 col-md-6 mb-4 col-lg-4">
				<div class="a-field-color h-100 p-3 rounded">
					<a>
						<img src="@Url.Action("GetImage", new {id=item.Id})" alt="product-@item.Name" class="products-img img-fluid">
					</a>
					<hr class="a-text-color2 w-50 mx-auto">
					<h4 class="a-text-color2"><a>@Html.DisplayFor(modelItem=>item.Name)</a></h4>
					<p class="a-text-color2 fw-bold h5">@Html.DisplayFor(modelItem=>item.Price)$</p>
					@if(SignInManager.IsSignedIn(User)){
						<button type="button" class="btn btn-item"><a class="text-decoration-none product-btn-text" asp-controller="Home" asp-action="AddToCart" asp-route-userId="@currentUser.Id" asp-route-furnitureId="@item.Id">Add to cart</a></button>
					}
					else
					{
						<button type="button" class="btn btn-item"><a class="text-decoration-none product-btn-text" asp-area="Identity" asp-page="/Account/Login">Add to cart</a></button>
					}
				</div>
			</div>
		}
	</div>
</div>
<br />
<div class="container">
	<div class="row">
		<div class="minimalistic-banner text-center d-flex justify-content-center align-items-center">
			<button type="button" class="btn header-text w-50 align-middle"><a class="text-decoration-none product-btn-text">Check latest minimalistic furniture!</a></button>
		</div>

	</div>
</div>
<br />
<div class="container">
	<div class="row">
		<div class="contact-banner text-center d-flex justify-content-center align-items-center">
			<button type="button" class="btn header-text w-50 "><a class="text-decoration-none product-btn-text" asp-controller="Home" asp-action="Contact">Contact with us</a></button>
		</div>
	</div>
</div>
<br />